@page
@model ModelAgency.Web.Areas.Admin.Pages.ApprovalsModel
@{
    ViewData["Title"] = "Approvals";
}

<table>
    @foreach (var user in Model.Users) {
        <tr>
            <td>@user.Email</td>
            <td>
                <form asp-page-handler="approve" method="post">
                    <input type="hidden" name="userid" value="@user.Id" />
                    <button class="btn btn-default">Approve</button>
                </form>
            </td>
            <td>
                <form asp-page-handler="reject" method="post">
                    <input type="hidden" name="userid" value="@user.Id" />
                    <button class="btn btn-default">Reject</button>
                </form>
            </td>
        </tr>
    }
</table>