@page "/Model/{id}/Edit"
@model ModelAgency.Web.Areas.Model.Pages.Profile.EditModel
@{
    ViewData["Title"] = $"Edit {Model.Model.Name} Profile";
}

<form method="post">
    <div class="form-group">
        <label asp-for="Model.Name"></label>
        <input asp-for="Model.Name" class="form-control" />
        <span asp-validation-for="Model.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model.DOB"></label>
        <input asp-for="Model.DOB" class="form-control" />
        <span asp-validation-for="Model.DOB" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<a asp-area="Model" asp-page="Events/Index" asp-route-id="@Model.Model.Id">Manage Events</a>

@foreach (var photo in Model.Model.Photos) {
    <img src="/@photo.Path" />
    <form method="post" asp-page-handler="delete">
        <input type="hidden" name="photoid" value="@photo.Id" />
        <button type="submit" class="btn btn-primary">Delete</button>
    </form>
}
<form method="post" asp-page-handler="addPhotos" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" name="photos" multiple class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Add Photo's</button>
</form>
